{{#each this}}
    <div class="country-item">
        <img src="{{this.flags.svg}}" alt="{{this.name.official}}" width="30" >
        <p><b>{{this.name.official}}</b></p>
    </div>
    <p><b>Capital:</b> {{this.capital}}</p>
    <p><b>Population:</b> {{this.population}}</p>
    <p><b>Languages:</b> {{this.languages}}</p>
{{/each}}